LIGHTRAG_BASE_URL=http://lightrag:9621
LIGHTRAG_API_KEY=
LIGHTRAG_TIMEOUT_S=30
LIGHTRAG_MODE=hybrid
LIGHTRAG_SCORE_THRESHOLD=0.6

BRAVE_ENABLED=false
BRAVE_API_KEY=
BRAVE_TIMEOUT_S=10
BRAVE_DAILY_BUDGET=1000
BRAVE_DOMAIN_WHITELIST=fdc.nal.usda.gov,eur-lex.europa.eu,efsa.europa.eu,fda.gov,who.int,fao.org,ciaa.es,en.wikipedia.org,es.wikipedia.org

RAG_PROXY_API_KEY=replace-me-with-a-strong-secret
